<div class="profile container">
	<div class="panel panel-default main-panel">
		<div class="col-md-3">
			<div class="left-top">
			<div class="thumbnail">
				<div class="profilepic">
				</div>
			</div>
			</div>
			<ul class="left-bottom">
				<li><div class="li-item-active">About</div></li>
				<li><div class="li-item">Papers</div></li>
				<li><div class="li-item"><span class="glyphicon glyphicon-plus"></span> Add Section</div></li>
				<li><div class="li-item"><span class="glyphicon glyphicon-plus"></span> Add Post</div></li>
				<li><div class="li-item">CV</div></li>
			<ul>
		</div>
		<div class="col-md-6">
			<h1>Mew Ophaswongse</h1>
			<h5 class="uni"><a href="http://cambridge.academia.edu/Departments/Philosophy">University of Cambridge, Philosophy</a></h5> Alumna<br/>
			<div class="other-affliations">
				<a href="http://upenn.academia.edu/Departments/Computer_Science">University of Pennsylvania, Computer and Information Science</a>, Graduate Student<br/>
				<a href="http://washington.academia.edu/Departments/Comparative_Literature">University of Washigton, Comparative Literature</a>, Alumna<br/>
			</div>

			<!-- Analytics Summary -->
			<div class="row analytics">
				<div class="col-xs-4">
					<div class="panel panel-default">
						<span class="glyphicon glyphicon-eye-open"></span>
						757
						<h5>profile views</h5>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="panel panel-default">
						<span class="glyphicon glyphicon-file"></span>
						546
						<h5>document views</h5>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="panel panel-default">
						<span class="glyphicon glyphicon-user"></span>
						66
						<h5>followers</h5>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 interests">
					<div class="panel panel-default">
						<h4>Research Interests</h4>
						Aesthetics, 19th-Century Philosophy, Philosophy of Technology, Social Thought, Phenomenology, Metaphilosophy
					</div>
				</div>
			</div>

			<div class="papers">
				<h2>PAPERS</h2>
				<hr/>
				<ul class="papers-list">
					<li><a href="#">The Trouble with Perfection: Kitsch and its Vicissitudes</a><br/>
						<div class="paper-info">
							<span class="glyphicon glyphicon-eye-open"></span> 181 views
							<a href="#" class="dl">Download (.pdf)</a>
						</div>
					</li>
					<li><a href="#">The Fancy of the Contemplatives: Art and the Absurd</a>
						<div class="paper-info">
							<span class="glyphicon glyphicon-eye-open"></span> 137 views
							<a href="#" class="dl">Download (.pdf)</a>
						</div>
					</li>
					<li><a href="#">Imagination and Ethics in the Age of Information</a>
						<div class="paper-info">
							<span class="glyphicon glyphicon-eye-open"></span> 126 views
							<a href="#" class="dl">Download (.pdf)</a>
						</div>
					</li>
					<li><a href="#">Repetition and the Test of Time</a>
						<div class="paper-info">
							<span class="glyphicon glyphicon-eye-open"></span> 102 views
							<a href="#" class="dl">Download (.pdf)</a>
						</div>
					</li>
				</ul>
			</div>

		</div>
		<div class="rightcol col-md-3">
			<div class="panel panel-default">
				Following
				<div class="container following">
					<% 10.times do %>
						<div class="square"></div>
					<% end %>
				</div>
			</div>

			<strong>Recent Activity</strong>
			<ul class="activities">
				<li><strong>Mew</strong> started following the research interests Metaphilosophy, Phenomenology, and Academia.edu.</li>
				<li><strong>Mew</strong> followed the works of Richard Price and Ben Lund.</li>
			</ul>
		</div>
	</div>
</div>
<!-- 
<script>
$('.left-nav').hover(
       function(){ $(this).addClass('li-item') },
       function(){ $(this).removeClass('li-item') }
);
</script> -->